# <strong> Coding part of the Database Project </strong>

### <strong> Brief </strong>

<p> <em> In this project we are going to design an Relational database model (E/R) for </em> </p>
<p> <em> an Software Project Management System. This project are going to consist of a Report, </em> </p>
<p> <em> SQL code, and Design of a Relational Database Model. </em> </p>

#### <strong> Sprint 1 </strong>
* <em> Design a relational database (E/R diagram) for a software project management system </em>
* <em> Fullfills the given requirments </em>

#### <strong> Sprint 2 </strong>
* <em> Write down SQL for the given queires </em>
* <em> Write the SQL based on the designed database </em>

#### <strong> Sprint 3 </strong>
* <em> Start report "Conceptual Design for Library Management/Project Management Database" </em>
* <em> Write Problem Analysis </em>
* <em> Write Conceptual Design (E/R diagram and description) </em>
* <em> Explain the SQL code </em>

In [250]:
%load_ext sql
%sql sqlite:///project_management_system.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Creating table Project

In [251]:
%%sql
DROP TABLE IF EXISTS Project;
CREATE TABLE Project (
    projectID int NOT NULL UNIQUE,
    name varchar(150) NOT NULL DEFAULT '',
    startDate date,
    endDate date,
    leader varchar(150) NOT NULL DEFAULT '',
    budget int,
    PRIMARY KEY (projectID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Creating the table Employee

In [252]:
%%sql
DROP TABLE IF EXISTS Employee;
CREATE TABLE Employee (
    employeeID int NOT NULL UNIQUE,
    name varchar(150) NOT NULL DEFAULT '',
    hourlyCost int NOT NULL DEFAULT '',
    PRIMARY KEY (employeeID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Creating the table Activity

In [253]:
%%sql
DROP TABLE IF EXISTS Activity;
CREATE TABLE Activity (
    activityID int NOT NULL UNIQUE,
    type varchar(150) NOT NULL DEFAULT,
    startDate date,
    endDate date,
    PRIMARY KEY (activityID)
);

 * sqlite:///project_management_system.db
Done.
(sqlite3.OperationalError) near ",": syntax error
[SQL: CREATE TABLE Activity (
    activityID int NOT NULL UNIQUE,
    type varchar(150) NOT NULL DEFAULT,
    startDate date,
    endDate date,
    PRIMARY KEY (activityID)
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Creating the table for Plans

In [254]:
%%sql
DROP TABLE IF EXISTS Plans;
CREATE TABLE Plans (
    PlanID int NOT NULL UNIQUE,
    projectID int NOT NULL,
    employeeID int NOT NULL,
    activityID int NOT NULL,
    startDate date,
    endDate date,
    budget int,
    PRIMARY KEY (PlanID),
    FOREIGN KEY (projectID) REFERENCES Project(projectID),
    FOREIGN KEY (employeeID) REFERENCES Employee(employeeID),
    FOREIGN KEY (activityID) REFERENCES Activity(activityID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Gives Emplyees access to Project, Activity and Plans tables

In [255]:
%%sql
GRANT SELECT
On TABLE Project, Activity, Plans 
TO Employee;

 * sqlite:///project_management_system.db
(sqlite3.OperationalError) near "GRANT": syntax error
[SQL: GRANT SELECT
On TABLE Project, Activity, Plans
TO Employee;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Sets that an activity can be planned to more than one employee, but not the same time period

In [256]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

#### How many employees of for a project titled "A" are involved in its plan “B”

In [257]:
%%sql
SELECT COUNT(Employee)
FROM Plans
INNER JOIN Employee USING(EmployeeID)
INNER JOIN Project USING(projectID)
WHERE Project.name = "A"
AND Plans.name = "B";

 * sqlite:///project_management_system.db
(sqlite3.OperationalError) no such column: Employee
[SQL: SELECT COUNT(Employee)
FROM Plans
INNER JOIN Employee USING(EmployeeID)
INNER JOIN Project USING(projectID)
WHERE Project.name = "A"
AND Plans.name = "B";]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Retrieve the names of plans made for project “A” with least cost

In [258]:
%%sql
SELECT name
FROM Plans
INNER JOIN Project USING(projectID)
WHERE Project.name = "A"
AND Project.budget IN(
	SELECT MIN(budget)
	FROM Project
);

 * sqlite:///project_management_system.db
Done.

[]

#### For each employee retrieve the name, project name and plan name with the most working time

In [259]:
%%sql
SELECT name, Project.name, Plans.name
FROM Employee
INNER JOIN Plans USING(employeeID)
INNER JOIN Project USING(projectID)
WHERE (Plans.endDate - Plans.startDate) IN (
	SELECT MAX(Plans.endDate - Plans.startDate)
	WHERE

 * sqlite:///project_management_system.db
(sqlite3.OperationalError) incomplete input
[SQL: SELECT name, Project.name, Plans.name
FROM Employee
INNER JOIN Plans USING(employeeID)
INNER JOIN Project USING(projectID)
WHERE (Plans.endDate - Plans.startDate) IN (
	SELECT MAX(Plans.endDate - Plans.startDate)
	WHERE]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Retrieve all the employee’s name and their least working time with respect to different project

In [260]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

#### Retrieve all the plans for project with order of their working period

In [261]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?