# <strong> Coding part of the Database Project </strong>

### <strong> Brief </strong>

<p> <em> In this project we are going to design an Relational database model (E/R) for </em> </p>
<p> <em> an Software Project Management System. This project are going to consist of a Report, </em> </p>
<p> <em> SQL code, and Design of a Relational Database Model. </em> </p>

#### <strong> Sprint 1 </strong>
* <em> Design a relational database (E/R diagram) for a software project management system </em>
* <em> Fullfills the given requirments </em>

#### <strong> Sprint 2 </strong>
* <em> Write down SQL for the given queires </em>
* <em> Write the SQL based on the designed database </em>

#### <strong> Sprint 3 </strong>
* <em> Start report "Conceptual Design for Library Management/Project Management Database" </em>
* <em> Write Problem Analysis </em>
* <em> Write Conceptual Design (E/R diagram and description) </em>
* <em> Explain the SQL code </em>

In [52]:
%load_ext sql
%sql sqlite:///project_management_system.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Creating table Project

In [53]:
%%sql
DROP TABLE IF EXISTS Project;
CREATE TABLE Project (
    projectID int NOT NULL UNIQUE,
    name varchar(150) NOT NULL DEFAULT '',
    startDate date,
    endDate date,
    leader varchar(150) NOT NULL DEFAULT '',
    budget int,
    PRIMARY KEY (projectID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Creating the table Employee

In [54]:
%%sql
DROP TABLE IF EXISTS Employee;
CREATE TABLE Employee (
    employeeID int NOT NULL UNIQUE,
    name varchar(150) NOT NULL DEFAULT '',
    hourlyCost int NOT NULL DEFAULT '',
    PRIMARY KEY (employeeID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Creating the table Activity

In [119]:
%%sql
DROP TABLE IF EXISTS Activity;
CREATE TABLE Activity (
    activityID int NOT NULL UNIQUE,
    activityType varchar(150) NOT NULL DEFAULT '',
    startDate date,
    endDate date,
    PRIMARY KEY (activityID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Creating the table for Plans

In [56]:
%%sql
DROP TABLE IF EXISTS Plans;
CREATE TABLE Plans (
    planName varchar(150) NOT NULL,
    PlanID int NOT NULL UNIQUE,
    projectID int NOT NULL,
    employeeID int NOT NULL,
    activityID int NOT NULL,
    startDate date,
    endDate date,
    budget int,
    PRIMARY KEY (PlanID),
    FOREIGN KEY (projectID) REFERENCES Project(projectID),
    FOREIGN KEY (employeeID) REFERENCES Employee(employeeID),
    FOREIGN KEY (activityID) REFERENCES Activity(activityID)
);

 * sqlite:///project_management_system.db
Done.
Done.

[]

#### Gives Emplyees access to Project, Activity and Plans tables

In [70]:
%%sql
GRANT SELECT
On TABLE Project, Activity, Plans 
TO Employee;

 * sqlite:///project_management_system.db
(sqlite3.OperationalError) near "GRANT": syntax error
[SQL: GRANT SELECT
On TABLE Project, Activity, Plans
TO Employee;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### Sets that an activity can be planned to more than one employee, but not the same time period

In [58]:
%%sql
SELECT

 * sqlite:///project_management_system.db
(sqlite3.OperationalError) incomplete input
[SQL: SELECT]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

#### How many employees of for a project titled "A" are involved in its plan “B”

In [76]:
%%sql
SELECT COUNT(employeeID)
FROM Employee
INNER JOIN Plans USING(employeeID)
INNER JOIN Project USING(projectID)
WHERE Project.name = "A"
AND Plans.planName = "B";

 * sqlite:///project_management_system.db
Done.

[(0,)]

#### Retrieve the names of plans made for project “A” with least cost

In [77]:
%%sql
SELECT name
FROM Plans
INNER JOIN Project USING(projectID)
WHERE Project.name = "A"
AND Project.budget IN(
	SELECT MIN(budget)
	FROM Project
);

 * sqlite:///project_management_system.db
Done.

[('A',)]

#### For each employee retrieve the name, project name and plan name with the most working time

In [127]:
%%sql
SELECT Employee.name, Project.name, Plans.planID
FROM Employee
INNER JOIN Plans USING(employeeID)
INNER JOIN Project USING(projectID)
GROUP BY Employee.name
HAVING (Plans.endDate - Plans.startDate) = (
	SELECT MAX(Plans.endDate - Plans.startDate)
	FROM Project);

 * sqlite:///project_management_system.db
Done.

[('Gunnar', 'A', 2), ('Mohammed', 'A', 1)]

#### Retrieve all the employee’s name and their least working time with respect to different project

In [126]:
%%sql
SELECT Employee.name, (Project.endDate-Project.startDate) as leastTime
FROM Employee
INNER JOIN Plans USING (employeeID)
INNER JOIN Project USING(projectID)
GROUP BY Employee.name
HAVING leastTime = (
    SELECT MIN(leastTime) FROM Project
);

 * sqlite:///project_management_system.db
Done.

[('Gunnar', 1), ('Mohammed', 1)]

#### Retrieve all the plans for project with order of their working period

In [81]:
%%sql
SELECT *
FROM Plans
GROUP BY projectID
ORDER BY startDate

 * sqlite:///project_management_system.db
Done.

[('A', 1, 1, 1, 1, '2022-01-01', '2022-02-01', 10000)]

#### Testing Database

##### Inserting Values into Employee

In [64]:
%%sql
INSERT INTO Employee
VALUES (3, "Svanus", 10);

 * sqlite:///project_management_system.db
1 rows affected.

[]

##### Inserting Values into Plans

In [121]:
%%sql
INSERT INTO Plans
VALUES ('B',2,1,4,1,'2021-01-02','2021-02-05',300);

 * sqlite:///project_management_system.db
1 rows affected.

[]

In [111]:
%%sql
INSERT INTO Project
VALUES (5, "B", '2021-01-02', '2022-02-03', 'Bjørn', 350)

 * sqlite:///project_management_system.db
1 rows affected.

[]

In [120]:
%%sql
INSERT INTO Activity
VALUES (1, 'work', '2021-01-03','2021-02-05')

 * sqlite:///project_management_system.db
1 rows affected.

[]